# Manipulating Text data

### Import pandas

In [1]:
import pandas as pd

### Read CSV
In this set of videos we'll use the [Student Performance](https://www.kaggle.com/spscientist/students-performance-in-exams?select=StudentsPerformance.csv) from Kaggle which is also avaiable in the course GitHub repo here: [Student Performance](https://github.com/cbtn-data-science-ml/python-pandas-for-data-manipulation/tree/main/datasets). I've icluded the Kaggle link so you can learn more about the dataset, but they're the same, so feel free to use either resourse.

In [4]:
cereal = pd.read_csv("StudentsPerformance.csv")
cereal.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75